{% load static %}
<!-- {% load static %} -->

<!DOCTYPE html>
<html>
<head>
    <title>Employees</title>
    <link rel="stylesheet" href="{% static 'employees/style.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'employees/style.css' %}"> -->
</head>
<body>

    <h1>Employee Management System</h1>

    <h2>Employees</h2>
    <a href="{% url 'add_employee' %}" class="add-btm">Add Employee</a>
   <table >
        <thead>
            <tr>
                <th>Name</th>
                <th>E-mail</th>
                <th>Department</th>
                <th>Edit & Delete</th>
           
            </tr>
        </thead>
        <tbody>

       
        {% if employees %}
     
            {% for employee in employees %}
                <tr>
                 <td>   {{ employee.name }} -</td>
                    <td>{{ employee.email }} -</td>
                   <td> {{ employee.department }}</td>
                

            
                <td><a href="{% url 'edit_employee' employee.id %}" class="edit-btm">edit_employee</a>
                <a href="{% url 'delete_employee' employee.id %}" class="delete-btm"  onclick=" return confirm('are you sure you wnat to delete {{employee.name}} employee?')">delete_emploee</a></td>
            {% endfor %}
       
         {% else %}
        <p>No employees found.</p>
         {% endif %}
        
         </tr>
         </tbody>
   </table> 

   

</body>
</html>